<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="braspagApiUrl" value="http://localhost/v1" />
		<add key="braspagDefaultCurrency" value="BRL"/>
		<add key="braspagDefaultCountry" value="BRA"/>
		<add key="braspagDefaultInterest" value="ByMerchant"/>
		<add key="braspagDefaultCapture" value="false"/>
		<add key="braspagDefaultAuthenticate" value="false"/>
	</appSettings>
</configuration>